.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2563EB;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  width: 24px;
  height: 24px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2563EB;
  cursor: pointer;
  border: none;
  transition: width 0.2s, height 0.2s;
}

.slider::-moz-range-thumb:hover {
  width: 24px;
  height: 24px;
}

